.App {
  text-align: center;
}

.navLink {
  display: inline-block;
  /* font-family: 'mortal_kombat_1regular'; */
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.5em;
  color: darkblue;
  /* border-bottom: 2px solid firebrick; */
  transition: 0.1s;
}

.row {
  display: flex;
  flex-direction: row;
}

.concert-card {
  display: flex;
  justify-content: center;
  align-items: center;
}